<div class="rooms-new">
    <div class="rooms-new-side">
        <div class="side-contents">
            <%= link_to("基本情報", new_room_path) %>
        </div>
    </div>
    <div class="rooms-new-main">
        <div class="rooms-main-form">
            <h2>ルーム情報登録</h2>
            <ul>
                <%= form_with(model: @room) do |f| %>
                <li>
                    <%= f.label :name, "ルーム名" %>
                    <%= f.text_field :name, placeholder: "ルーム名を入力" %>
                </li>
                <li>
                    <%= f.label :introduce, "ルーム紹介" %>
                    <%= f.text_area :introduce, placeholder: "ルーム説明を入力" %>
                </li>
                <li>
                    <%= f.label :price, "価格" %>
                    <%= f.number_field :price, placeholder: "一日あたりの料金を入力" %>
                </li>
                <li>
                    <%= f.label :area, "住所" %>
                    <%= f.text_field :area, placeholder: "住所を入力" %>
                </li>
                <li>
                    <%= f.label :image, "ルーム画像" %>
                    <%= f.file_field :image %>
                </li>
                <li>
                    <%= f.submit "登録", class: "submit" %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>